{{ "<!-- HEADER -->" | safeHTML }}
{{ $page := . }}
<header class="header">
    <nav class="container relative flex items-center gap-6 mx-auto">
        <h1 class="flex-shrink-0">
            <a href="/">
                <picture title="{{ .Site.Title }}">
                    <img src="/img/{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" >
                </picture>
            </a>
        </h1>

        <button id="navbar-toggle" data-collapse-toggle="navbar-default" type="button" class="navbar-toggle md:hidden" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div class="absolute left-0 z-10 hidden w-full p-8 pt-4 bg-white border-t border-b top-full md:static md:block md:w-auto md:flex-1 md:p-0 md:border-0" id="navbar-container">
            <ul class="items-center w-full gap-6 md:flex">
                {{ range site.Menus.main }}
                    {{- if $page.IsMenuCurrent .Menu . }}
                        <li class="menu-item active">
                            <a aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{- else }}
                        <li class="menu-item">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end}}
                {{ end }}
                <li class="md:ml-auto">
                    <a class="w-full text-center cta-button md:w-auto" href="{{ site.Params.ticket.link }}">{{ site.Params.ticket.buttonText }}</a>
                </li>
            </ul>
        </div>
      </div>
    </nav>
</header>
