{{ partial "default_head.html" . }}
{{ partial "header.html" . }}

    <div class="hero">
      <div class="container">
        <div class="antialiased hero-text">
          <h1>GopherCon Singapore</h1>
          <h2>21&ndash;24 January 2025</h2>
        </div>
        <div class="hero-wave-back"></div>
        <div class="hero-wave-mid"></div>
        <img class="hero-mascots" src="/img/hero-mascots.png" />
        <div class="hero-wave-front"></div>
        <div class="hero-stars-offset"><img class="hero-stars" src="/img/hero-stars.png" /></div>
      </div>
    </div>

    <div class="antialiased text-center venue md:text-left">
      <div class="container">
        <div class="flex flex-col md:flex-row">
          <div class="basis-1/2 md:border-0 md:border-solid md:border-r md:border-white md:pr-[5rem] mb-12 md:mb-0">
            <h2 class="mb-4">Pre-conference Workshops</h2>
            <div class="text-2xl md:text-[2rem] leading-[1.25]">
              22-23 January<br />
              <a href="#" target="_blank">to be confirmed</a>
            </div>
          </div>
          <div class="basis-1/2 md:pl-[5rem]">
            <h2 class="mb-4">Conference</h2>
            <div class="text-2xl md:text-[2rem] leading-[1.25]">
              24 January<br />
              <a href="https://maps.app.goo.gl/7ag5ZuZWJ5NHSxsc9" target="_blank">JW Marriott Singapore Ballroom</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-16 speakers">
      <h2 class="pt-[2rem] mb-[3rem] text-center md:pt-[10rem] md:mb-[6rem]">Our Speakers</h2>
      <div class="container text-center">
        <ul class="flex flex-col justify-center gap-6 mb-12 md:flex-row">
          {{ range $.Site.Data.speakers.speakers }}
            <li class="mb-8 md:max-w-[280px]">
              {{ $image := resources.Get (printf "images/speakers/%s" .image) }}
              <img class="mx-auto mb-4" width="280" src="{{ $image.RelPermalink }}">
              <h3 class="mb-2 text-lg font-medium">{{ .name }}</h3>
              <div class="mb-2 leading-5">{{ .title | markdownify }}</div>
              <div>{{ .company }}</div>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>

    <section id="tickets" class="mb-16">
      <div class="container">
        <div class="text-center col-lg-8 col-lg-offset-2">
            {{ with .Site.Data.index.tickets.headline }}
            <h2 class="pt-[4rem] mb-[3rem] md:pt-[6rem] text-center">{{ . }}</h2>
            {{ end }}
            <tito-widget event="gopherconsg/2025"></tito-widget>
            {{ with .Site.Data.index.tickets.policy }}
            {{ . | markdownify }}
            {{ end }}
        </div>
      </div>
    </section>

    {{ partial "code-of-conduct.html" }}

    <div class="mb-8 partners">
      <h2 class="pt-[8rem] mb-[3rem] md:pt-[14rem] md:mb-[7rem] text-center">Our Partners</h2>
      <div class="container">
          
        <div class="items-center text-center border-b md:flex py-14 border-b-gray-500">
          <strong class="block mb-8 text-xl md:text-base md:mr-8 md:mb-0 md:basis-1/12 md:text-left">Platinum</strong>
          <div class="flex flex-wrap items-center justify-center flex-1 gap-2 md:gap-8">
            {{ with $.Site.Data.index.sponsors.platinum}}
              {{ range . }}
                {{ $image := resources.Get (printf "images/sponsors/%s" .logo) }}
                <img src="{{ $image.RelPermalink }}" alt="{{ .name }}" width="170" />
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    
    {{ partial "footer.html" . }}
{{ partial "default_foot.html" . }}
