{{ partial "default_head.html" . }}
<!-- {{ partial "header.html" . }} -->

    <div class="hero">
      <div class="container">
        <div class="hero-text antialiased">
          <h1>GopherCon Singapore</h1>
          <h2>Coming end October 2024</h2>
        </div>
        <div class="hero-wave-back"></div>
        <div class="hero-wave-mid"></div>
        <img class="hero-mascots" src="/img/hero-mascots.png" />
        <div class="hero-wave-front"></div>
        <div class="hero-stars-offset"><img class="hero-stars" src="/img/hero-stars.png" /></div>
      </div>
    </div>

    <!-- {{ partial "code-of-conduct.html" }} -->

    {{ partial "footer.html" . }}
{{ partial "default_foot.html" . }}
